@model NewsUa.Models.ViewModel.EditTagsModel
@{
    Layout = "~/Views/Shared/_N_Layout.cshtml";
    ViewBag.Title = "Редагування тегів";
}
<div class="row " style="margin:10px 0;padding:20px;">
    @using (Html.BeginForm("EditTags", "Account", FormMethod.Post, new
    {
        @id = "postForm",
        @class = "col l6 m10 s12 white z-depth-5 offset-l3 offset-m1",
        enctype = "multipart/form-data",
        style = "padding:30px;"
        //, onsubmit = "accept.disabled = true; accept.value = 'Loading...'; return true;"
    }))
    {
        <div class="row">
            @Html.AntiForgeryToken()
            <div class="input-field col s12">
                @TagListHelper.SelectedTagsList(Model.UserTags, Model.AllTags)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="submit" class="waves-effect waves-light btn blue-grey lighten-1" value="Зберегти" name="accept" style="margin-bottom:15px;" /><br />
                <a href="@Url.Action("Index", "News")">На головну</a><br />
            </div>
        </div>
    }
</div>
@section scripts{
    <script>
        $('select').select2({
            tags: true
        });
    </script>
}
